@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
body {
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    background: #F3F5F7;
}
/*Modal*/
span.btn-close {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}
i.fa-solid.fa-circle-xmark {
  font-size: 2rem;
}
.img-friend {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.img-box {
  display: grid;
  place-items: center;
}
.upload-wp {
  text-align: center;
  padding: 3%;
  width: 100%;

  min-width: 150px;
}
img.avatar-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.upload-wp input {
  display: none;
}
.upload-wp label {
  cursor: pointer;
}

#imageName {
  color: green;
}
button#addBtn {
  border-radius: 12px;
}
button#update-btn {
  border-radius: 12px;
}
button#addFriend-btn {
  border-radius: 12px;
}
button.swal-button.swal-button--confirm {
  border-radius: 12px;
}
button.swal-button.swal-button--cancel {
  border-radius: 12px;
  background-color: transparent;
}
.container-wp {
  max-width: 1400px;
  margin: 0 auto;
}
table {
  border-collapse: separate;
  border-spacing: 0;
     border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.table td, .table th {
  vertical-align: middle;
}
.table thead th {
    border: 0px;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #007bff;
  font-size: 12px;
  border: 1px solid #007bff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
input#searchInput {
  background: #ffff;
  border: none;
  border-radius: 12px;
}
span#basic-addon2 {
  background: transparent;
  border: navajowhite;
  position: absolute;
  left: 0;
  top: 5px;
}
.custom-select {
  background: #fff url(https://img.icons8.com/ios-glyphs/256/chevron-down.png)
    right 0.75rem center/8px 10px no-repeat;
  background-color: #fff;
  border: none;
  border-radius: 12px;
}
input::placeholder {
  text-align: center;
}
.form-group {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
